{form formRegister}
    {foreach $form->errors as $error}
        <div class="alert alert-danger fade in m-b-15">
            {$error}
        </div>
    {/foreach}
    <div class="form-group" id="{$form['name']->getControl()->id}-parent">
        {label name /}
        {input name, class => form-control}
    </div>
    <div class="form-group" id="{$form['email']->getControl()->id}-parent">
        {label email /}
        {input email, class => form-control}
    </div>
    <div class="form-group" id="{$form['password']->getControl()->id}-parent">
        {label password /}
        {input password, class => form-control}
    </div>
    <div class="form-group" id="{$form['passwordAgain']->getControl()->id}-parent">
        {label passwordAgain /}
        {input passwordAgain, class => form-control}
    </div>
    <hr/>
    <div class="form-group" id="{$form['companyName']->getControl()->id}-parent">
        {label companyName /}
        {input companyName, class => form-control}
    </div>
    <div class="form-group" id="{$form['street']->getControl()->id}-parent">
        {label street /}
        {input street, class => form-control}
    </div>
    <div class="form-group" id="{$form['city']->getControl()->id}-parent">
        {label city /}
        {input city, class => form-control}
    </div>
    <div class="form-group" id="{$form['zip']->getControl()->id}-parent">
        {label zip /}
        {input zip, class => form-control}
    </div>
    <div class="form-group" id="{$form['country']->getControl()->id}-parent">
        {label country /}
        {input country, class => form-control}
    </div>
    <div class="form-group" id="{$form['companyID']->getControl()->id}-parent">
        {label companyID /}
        {input companyID, class => form-control}
    </div>
    <div class="form-group" id="{$form['vatID']->getControl()->id}-parent">
        {label vatID /}
        {input vatID, class => form-control}
    </div>

    {input send class => array(btn, btn-lg, btn-primary, btn-block)}
{/form}