<div class="panel panel-default">
    <div class="panel-body">
        {if !empty($buttons) || !empty($filtersComponent)}
            <div class="row">
                <div class="col-md-4 m-b-15">
                    {if !empty($buttons)}
                        {foreach $buttons as $button}
                            <a href="{plink $button['link']['presenter'], $button['link']['resetParam'] => null}" class="btn btn-success btn-sm ajax" {if $button['link']['type'] == 'modal'}data-toggle="modal" data-target="#{$button['link']['modalID']}"{/if}>
                                {if isset($button['icon'])}
                                    <i class="{$button['icon']}"></i>&nbsp; 
                                {/if}
                                {_$button['title']}
                            </a>
                        {/foreach}
                    {/if}
                </div>
                <div class="col-md-8 m-b-15 text-right">
                    {if !empty($filtersComponent)}
                        {control formFilter}
                    {/if}
                </div>
            </div>
        {/if}
        {if $items}
            <table n:class="table, table-striped, isset($toolsComponent['sort']) ? sortable">
                <thead>
                    <tr>
                        {foreach $itemsColumns['columns'] as $key => $columnData}
                            <th>{$columnData['title']}</th>
                            {/foreach}
                            {if !empty($toolsComponent)}
                            <th class="text-right">Tools</th>
                            {/if}
                    </tr>
                </thead>
                <tbody>
                    <tr n:foreach="$items as $item">
                        {var $itemsCount = $iterator->getCounter()}
                        {foreach $itemsColumns['columns'] as $key => $columnData}
                            <td class="semi-bold">
                                {if $columnData['appearance'] == 'iterator'}
                                    {$itemsCount}
                                {elseif !empty($item->$columnData['base'])}
                                    {if $columnData['appearance'] == 'text'}
                                        {$item->$columnData['base']->$columnData['column_name']|striptags}
                                    {elseif $columnData['appearance'] == 'date'}
                                        {$item->$columnData['base']->$columnData['column_name']|date:$columnData['format']}
                                    {elseif $columnData['appearance'] == 'dateValid'}
                                        <span n:class="$item->$columnData['base']->$columnData['column_name'] <= $now ? text-success : text-danger">
                                            <span n:class="$item->$columnData['base']->$columnData['column_name'] <= $now ? glyphicon-ok : glyphicon-remove, glyphicon"></span>
                                            {if isset($columnData['helper'])}
                                                {=$template->$columnData['helper']($item->$columnData['base']->$columnData['column_name'])}
                                            {else}
                                                {$item->$columnData['base']->$columnData['column_name']|date:'Y'}
                                            {/if}
                                        </span>
                                    {elseif $columnData['appearance'] == 'image'}
                                        <img src="{$item->$columnData['base']|getPreview:50:50}" alt="">
                                    {elseif $columnData['appearance'] == 'active'}
                                        <span n:class="$item->$columnData['base']->$columnData['column_name'] == 1 ? text-success : text-danger">
                                            <span n:class="$item->$columnData['base']->$columnData['column_name'] == 1 ? glyphicon-ok : glyphicon-remove, glyphicon"></span>
                                            {if $item->$columnData['base']->$columnData['column_name'] == 1}
                                                {_'active'}
                                            {else}
                                                {_'disabled'}
                                            {/if}
                                        </span>
                                    {/if}
                                {/if}
                            </td>
                        {/foreach}
                        {if !empty($toolsComponent)}
                            {var $id = $item->data->id}
                            <td class="text-right">{control formTools-$id}</td>
                        {/if}
                    </tr>
                </tbody>
            </table>
            {if !empty($paginatorComponent)}
                {control paginator}
            {/if}
        {else}
            <h4>{_'no-items'}</h4>
        {/if}
    </div>
</div>

