<div class="panel panel-default">
    <div class="panel-body">
        {if !empty($buttons) || !empty($filtersComponent)}
            <div class="row">
                <div class="col-md-4 m-b-15">
                    {if !empty($buttons)}
                        {foreach $buttons as $button}
                            <a href="{plink $button['link']['presenter']}" class="btn btn-success btn-sm ajax">
                                {if isset($button['icon'])}
                                    <i class="{$button['icon']}"></i>&nbsp; 
                                {/if}
                                {_$button['title']}</a>
                            {/foreach}
                        {/if}
                </div>
                <div class="col-md-8 m-b-15 text-right">
                    {if !empty($filtersComponent)}
                        {control formFilter}
                    {/if}
                </div>
            </div>
        {/if}
        {if $items}
	    {foreach $items as $item}
		<div class="panel panel-default">
		    <div class="panel-heading">
			<div class="row">
			    <div class="col-sm-5 f-w-700 f-s-16">
				{$item->data->key}
			    </div>
			    <div class="col-sm-2 col-sm-offset-5 text-right">
				{if !empty($toolsComponent)}
				    {var $id = $item->data->id}
				    <td class="text-right">{control formTools-$id}</td>
				{/if}
			    </div>
			</div>
		    </div>
		    <div class="panel-body">
			<table class="table">
			    <thead>
				<tr>
				    <th>{_'language'}</th>
				    <th>Singular <span class="text-muted small">{_'one-house'}</span></th>
				    <th>Plural <span class="text-muted small">{_'two-houses'}</span></th>
				    <th>Plural 2 <span class="text-muted small">{_'ten-houses'}</span></th>
				</tr>
			    </thead>
			    <tbody>
				<tr>
				    <td>{$item->data->lang}</td>
				    <td>
					{$item->data->v1}
				    </td>
				    <td>
					{$item->data->v2}
				    </td>
				    <td>
					{$item->data->v3}
				    </td>
				</tr>
				{if !empty($item->translations)}
				    <tr>
					<td>{$item->translations->lang}</td>
					<td>
					    {$item->translations->v1}
					</td>
					<td>
					    {$item->translations->v2}
					</td>
					<td>
					    {$item->translations->v3}
					</td>
				    </tr>
				{/if}
			    </tbody>
			</table>
		    </div>
		</div>
	    {/foreach}
            {if !empty($paginatorComponent)}
                {control paginator}
            {/if}
        {else}
            <h4>{_'no-items'}</h4>
        {/if}
    </div>
</div>

