<div class="panel panel-default">
    <div class="panel-body">
        {if !empty($buttons) || !empty($filtersComponent)}
            <div class="row">
                <div class="col-md-4 m-b-15">
                    {if !empty($buttons)}
                        {foreach $buttons as $button}
                            <a href="{plink $button['link']['presenter'], $button['link']['resetParam'] => null}" class="btn btn-success btn-sm ajax" {if $button['link']['type'] == 'modal'}data-toggle="modal" data-target="#{$button['link']['modalID']}"{/if}>
                                {if isset($button['icon'])}
                                    <i class="{$button['icon']}"></i>&nbsp; 
                                {/if}
                                {_$button['title']}
                            </a>
                        {/foreach}
                    {/if}
                </div>
                <div class="col-md-8 m-b-15 text-right">
                    {if !empty($filtersComponent)}
                        {control formFilter}
                    {/if}
                </div>
            </div>
        {/if}
        {if $items}
            <table n:class="table, table-striped, isset($toolsComponent['sort']) ? sortable">
                <thead>
                    <tr>
                        {foreach $itemsColumns['columns'] as $columnData}
                            <th>{$columnData['title']}</th>
                            {/foreach}
                            {if !empty($toolsComponent)}
                            <th class="text-right">Tools</th>
                            {/if}
                    </tr>
                </thead>
                <tbody>
                    <tr n:foreach="$items as $item">
                        {foreach $itemsColumns['columns'] as $columnData}
                            <td class="semi-bold">
                                {if $columnData['appearance'] == 'text'}
                                    {$item->$columnData['data']}
                                {elseif $columnData['appearance'] == 'sessionDate'}
                                    <i class="fa fa-mobile" style="font-size: 20px; width: 20px;"></i> {$item->$columnData['data']->$columnData['columns'][0]}<br/>
                                    <i class="fa fa-cloud-upload" style="font-size: 16px; width: 20px;"></i> {$item->$columnData['data']->$columnData['columns'][1]}
                                {/if}
                            </td>
                        {/foreach}
                        {if !empty($toolsComponent)}
                            {var $id = $item->data->id}
                            <td class="text-right">{control formTools-$id}</td>
                        {/if}
                    </tr>
                </tbody>
            </table>
            {if !empty($paginatorComponent)}
                {control paginator}
            {/if}
        {else}
            <h4>{_'no-items'}</h4>
        {/if}
    </div>
</div>

