<div class="panel panel-default">
    <div class="panel-body">
        {if !empty($buttons) || !empty($filtersComponent)}
            <div class="row">
                <div class="col-md-4 m-b-15">
                    {if !empty($buttons)}
                        {foreach $buttons as $button}
                            <a href="{plink $button['link']['presenter'], $button['link']['resetParam'] => null}" class="btn btn-success btn-sm ajax" {if $button['link']['type'] == 'modal'}data-toggle="modal" data-target="#{$button['link']['modalID']}"{/if}>
                                {if isset($button['icon'])}
                                    <i class="{$button['icon']}"></i>&nbsp; 
                                {/if}
                                {_$button['title']}
                            </a>
                        {/foreach}
                    {/if}
                </div>
                <div class="col-md-8 m-b-15 text-right">
                    {if !empty($filtersComponent)}
                        {control formFilter}
                    {/if}
                </div>
            </div>
        {/if}
        {if $items}
            <div class="row" style="padding-top: 20px;">
                {foreach $items as $item}
                    <div class="col-md-12">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title">{$item->userData->name} - {$item->userData->email}</h3>
                            </div>
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-md-4">
                                        <h2 class="text-center">{$item->stats->duration}<br/>
                                            <small>{_'overall'}</small></h2>
                                    </div>
                                    <div class="col-md-8">
                                        <h2>{_'activities'}</h2>
                                        <table class="table table-striped">
                                            {foreach $item->stats->activitiesDuration as $name => $value}
                                                <tr>
                                                    <td>{$name}</td>
                                                    <td><strong>{$value}</strong></td>
                                                </tr>
                                                {/foreach}
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {/foreach}
            </div>

            {if !empty($paginatorComponent)}
                {control paginator}
            {/if}
        {else}
            <h4>{_'no-items'}</h4>
        {/if}
    </div>
</div>

