{snippet contentForm}
    <div class="panel panel-default">
	<div class="panel-body">
	    {form contentForm, class => array(form-horizontal, ajax)}
		{foreach $staticInputs as $inputKey => $input}
		    {if array_key_exists('sectionHeading', $input)}
			<h4 class="m-b-15">{!$input['sectionHeading']}</h4>
		    {/if}
		    {if isset($input['appearance'])}
			{if $input['appearance'] == 'hidden'}
			    {input $inputKey, class=> array(form-control, $input['type'], (array_key_exists('appearance', $input) ? $input['appearance']))}
			    {continueIf true}
			{/if}
		    {/if}
		    <div class="form-group" id="{$form[$inputKey]->getControl()->id}-parent">
			<div class="col-sm-2 text-right">
			    {if isset($input['appearance'])}
				{if $input['appearance'] !== 'hidden'}
				    {label $inputKey class => array(control-label, ($input['required'] == true ? required : optional)) /}<br/>
				    <span class="text-muted">{isset($input['main_key']) ? $input['main_key']} - {$input['column']}</span>
				{/if}
			    {else}
				{label $inputKey class => array(control-label, ($input['required'] == true ? required : optional)) /}<br/>
				<span class="text-muted">{isset($input['main_key']) ? $input['main_key']} - {$input['column']}</span>
			    {/if}
			</div>
			<div class="col-sm-10">
			    {if $input['type'] == 'image'}
				<div class="row">
				    {if isset($input['value']) && is_a($input['value'], '\Nette\Database\Table\ActiveRow')}
					<div class="col-sm-3">
					    <img src="{$input['value']|getPreview:100:100}" alt="{$inputKey}" class="thumbnail" />
					</div>
					{if $input['required'] == false}
					    <div class="col-sm-2">
						<a n:href="deleteItem!, 'id' => $input['value']->id, 'module' => $input['module']"  class="ajax btn btn-danger" data-ajax-off="history">{_'delete'}</a>
					    </div>
					{/if}

				    {/if}
				    <div class="col-sm-6">
					{input $inputKey, class => array(form-control, $input['type'], (array_key_exists('appearance', $input) ? $input['appearance'])), id => $inputKey}
				    </div>
				</div>
			    {elseif $input['type'] == 'file'}
				<div class="row">
				    {if isset($input['value']) && is_a($input['value'], '\Nette\Database\Table\ActiveRow')}
					<div class="col-sm-3">
					    <a href="{$input['value']|getFileUrl}" target="_blank">{$input['value']->file_name|truncate:30}</a>
					</div>
					{if $input['required'] == false}
					    <div class="col-sm-2">
						<a n:href="deleteItem!, 'id' => $input['value']->id, 'module' => $input['module']"  class="ajax btn btn-danger" data-ajax-off="history">{_'smazat'}</a>
					    </div>
					{/if}

				    {/if}
				    <div class="col-sm-6">
					{input $inputKey, class => array(form-control, $input['type'], (array_key_exists('appearance', $input) ? $input['appearance'])), id => $inputKey}
				    </div>
				</div>
			    {elseif $input['type'] == 'date'}
				<div class="input-group date dateInput">
				    <span class="input-group-addon">
					<i class="glyphicon glyphicon-calendar"></i>
				    </span>
				    {input $inputKey, class => array(form-control, show-error-apart, $input['type'], (array_key_exists('appearance', $input) ? $input['appearance']))}
				</div>
				<div id="error-container_{$form[$inputKey]->getControl()->id}"></div>
			    {else}
				{input $inputKey, class=> array(form-control, $input['type'], (array_key_exists('appearance', $input) ? $input['appearance']))}
			    {/if}
			</div>
			{if array_key_exists('lineAfter', $input)}
			    <div class="clearfix"></div>
			    <hr class="content-form" />
			{/if}
		    </div>
		{/foreach}
		{snippet contentFormErrors}
		    {foreach $control->getComponent('contentForm')->errors as $error}
			<div class="alert alert-danger fade in m-b-15">
			    {$error}
			</div>
		    {/foreach}
		{/snippet}
		<div class="row">
		    <hr/>
		    <div class="col-sm-10 col-sm-offset-2">
			{if $saveButtons == 'simple'}
			    {input save, class => array(btn, btn-success, ajaxSend) } 
			{else}
			    {input save, class => array(btn, btn-success, ajaxSend)} {input saveNew, class => array(btn, btn-success, ajaxSend)}
			{/if}
		    </div>
		</div>
	    {/form}
	</div>
    </div>
{/snippet}