{block #content}
<div id="content" class="content">
    <h1 class="page-header">{$page->data->title}</h1>


    <div class="row">
        <div class="col-md-12">
            {control menuTabs}
        </div>
    </div>
    <div class="row">
        <div class="col-md-8">
            {control formContent}
        </div>
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Company connection</h3>
                </div>
                <div class="panel-body">
                    <p>Use this credentials in the mobile app to join this company</p>
                    <h3 class="text-center">
                        {$company->company_id}<br/>
                        <small>Company ID</small>
                    </h3>
                    <h3 class="text-center">
                        {$company->pin}<br/>
                        <small>PIN</small>
                    </h3>
                </div>
            </div>
        </div>
    </div>
</div>
{/block}