{snippet formFilter}
    {form formFilter, class => form-inline}
        {formContainer filterValues}
            {foreach $filters as $filterKey => $filter}
                {if $filter['type'] == 'month'}
                    <div class="input-group date monthInput">
                        <span class="input-group-addon">
                            <i class="glyphicon glyphicon-calendar"></i>
                        </span>
                        {input $filterKey, class => array(form-control, show-error-apart)}
                    </div>
                {else}
                    <div class="form-group">
                        {input $filterKey, class => array(form-control, input-sm)}
                    </div>
                {/if}
            {/foreach}
        {/formContainer}
        <div class="form-group">
            {input filter, class => array(btn, btn-primary, btn-sm, ajax) }
        </div>
    {/form}
{/snippet}