<!DOCTYPE html>
<html lang="en">

    <head>

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">

        <title>{$page->options->siteName}</title>

        <!-- Bootstrap Core CSS -->
        <link href="/resources/backend/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet">

        <!-- Custom CSS -->
        <link href="/resources/backend/plugins/datetimepicker/css/datetimepicker.css" rel="stylesheet">
        <link href="/resources/backend/plugins/gritter/css/jquery.gritter.css" rel="stylesheet">
        <link href="/resources/backend/plugins/font-awesome-4.2.0/css/font-awesome.min.css" rel="stylesheet">
        <link href="/resources/backend/plugins/pace/templates/pace-theme-flash.tmpl.css" rel="stylesheet">
        <link href="/resources/backend/css/sb-admin.css" rel="stylesheet">
        <link href="/resources/backend/css/super-fast.css" rel="stylesheet">

        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
            <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
    </head>

    <body>
        <div id="wrapper">
            {snippet page}
                <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="index.html">WorktasticApp</a>
                    </div>
                    <!-- Top Menu Items -->
                    <ul class="nav navbar-right top-nav">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i> {$user->identity->name} <b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a n:href=":Admin:Sign:out"><i class="fa fa-fw fa-power-off"></i> {_'log-out'}</a>
                                </li>
                            </ul>
                        </li>
                    </ul>

                    <!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
                    <div class="collapse navbar-collapse navbar-ex1-collapse">
                        {control structureMenu}
                    </div>
                </nav>

                <div id="page-wrapper">

                    <div class="container-fluid">
                        {snippet content}
                            {include #content}
                        {/snippet}
                    </div>
                </div>

                {* Modal *}
                <div id="confirmModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="{_'confirm-action'}" aria-hidden="true">
                    <div class="modal-dialog modal-sm">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">{_'close'}</span></button>
                                <h4 class="modal-title">
                                    {_'do-you-really-want-to-take-action'}
                                </h4>
                            </div>
                            <div class="modal-body text-center">
                                <button type="button" class="btn btn-success yes" data-dismiss="modal">{_'yes'}</button>
                                <button type="button" class="btn btn-default no" data-dismiss="modal">{_'no'}</button>
                            </div>
                        </div>
                    </div>
                </div>
            {/snippet}
        </div>

        {snippet flash}
            {foreach $flashes as $flash}
                <div class="flash-message"
                     data-type="{$flash->type}"
                     data-title="{_$flash->type}"
                     data-text="{_$flash->message}"
                     data-ajax-append="true">                   
                </div>
            {/foreach}
        {/snippet}

        <!-- JS -->
        <script src="/resources/backend/plugins/jquery/jquery-1.9.1.min.js"></script>
        <script src="/resources/backend/plugins/bootstrap/js/bootstrap.min.js"></script>
        <script src="/resources/backend/plugins/gritter/js/jquery.gritter.min.js"></script>
        <script src="/resources/backend/plugins/moment/moment.min.js"></script>
        <script src="/resources/backend/plugins/datetimepicker/js/datetimepicke.min.js"></script>
        <script src="/resources/backend/js/nette.ajax.js"></script>
        <script src="/resources/backend/js/nette.history.ajax.js"></script>
        <script src="/resources/backend/js/nette.liveForm.js"></script>
        <script src="/resources/backend/js/main.js"></script>

        <script>
            $(document).ready(function () {
                Main.init();
            });
        </script>
        
    </body>

</html>
