{block #content}
<div id="content" class="content">
    <h1 class="page-header">{$page->data->title}</h1>

    <div class="row">
        <div class="col-md-12">
            {control menuTabs}
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <p style="padding: 10px 0px;">
                Duration is always counted from App Start and App Stop times (from mobile device), server times are present just for check-up.
            </p>

            {snippet listingGeneralSessions}
                {control listingGeneralSessions}
            {/snippet}
            <div class="modal fade" id="formContentSession" aria-hidden="true" style="display: none;">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                            <h4 class="modal-title">{_'modal-dialog'}</h4>
                        </div>
                        <div class="modal-body">
                            {snippet formContentSession}
                                {control formContentSession}
                            {/snippet}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{/block}