{block #content}
    <div id="content" class="content">
        <h1 class="page-header">{$page->data->title}</h1>

        <div class="row">
            <div class="col-md-12">
                {control menuTabs}
                <div class="tab-content">
                    <div class="tab-pane fade active in">
                        {control formContentMeta}
                    </div>
                </div>
            </div>
        </div>
    </div>
{/block}