{block #content}
<div id="content" class="content">
    <h1 class="page-header">{$page->data->title}</h1>

    <div class="row">
        <div class="col-md-12">
            {control menuTabs}
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            {control listingGeneralReports}
        </div>
    </div>
</div>
{/block}