<div class="panel panel-default">
    <div class="panel-body">
	{form formUpload, class => ajax}
	    {snippet formUploadErrors}
		{foreach $control->getComponent('formUpload')->errors as $error}
		    <div class="alert alert-danger fade in m-b-15">
			{$error}
		    </div>
		{/foreach}
	    {/snippet}
	    <div class="row">
		<div class="col-sm-10">
		    {input $mainKey, class => array(form-control)}
		    <p class="help-block">
			{!_'multiple-file-upload-help'}
		    </p>
		</div>
		<div class="col-sm-2">
		    {input upload, class => array(btn, btn-success)}
		</div>
	    </div>
	{/form}
    </div>
</div>

{snippet listingGeneral}
    {control listingGeneral}
{/snippet}