<!DOCTYPE html>
<html lang="en">

    <head>

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">

        <title>WorktasticApp</title>

        <!-- Bootstrap Core CSS -->
        <link href="/resources/backend/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet">

        <!-- Custom CSS -->
        <link href="/resources/backend/plugins/datetimepicker/css/datetimepicker.css" rel="stylesheet">
        <link href="/resources/backend/plugins/gritter/css/jquery.gritter.css" rel="stylesheet">
        <link href="/resources/backend/plugins/font-awesome-4.2.0/css/font-awesome.min.css" rel="stylesheet">
        <link href="/resources/backend/plugins/pace/templates/pace-theme-flash.tmpl.css" rel="stylesheet">
        <link href="/resources/backend/css/sb-admin.css" rel="stylesheet">
        <link href="/resources/backend/css/super-fast.css" rel="stylesheet">

        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
            <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
    </head>

    <body class="login">
        <div id="wrapper">
            <div id="page-wrapper">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-4 col-md-offset-2">
                            <div class="panel panel-green">
                                <div class="panel-heading">
                                    <h3 class="panel-title">{_'log-in'}</h3>
                                </div>
                                <div class="panel-body">
                                    {control formSignIn}
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="panel panel-primary">
                                <div class="panel-heading">
                                    <h3 class="panel-title">{_'registration'}</h3>
                                </div>
                                <div class="panel-body">
                                    {control formRegister}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- JS -->
        <script src="/resources/backend/plugins/jquery/jquery-1.9.1.min.js"></script>
        <script src="/resources/backend/plugins/bootstrap/js/bootstrap.min.js"></script>
        <script src="/resources/backend/plugins/gritter/js/jquery.gritter.min.js"></script>
        <script src="/resources/backend/plugins/moment/moment.min.js"></script>
        <script src="/resources/backend/plugins/datetimepicker/js/datetimepicke.min.js"></script>
        <script src="/resources/backend/js/nette.ajax.js"></script>
        <script src="/resources/backend/js/nette.history.ajax.js"></script>
        <script src="/resources/backend/js/nette.liveForm.js"></script>
        <script src="/resources/backend/js/main.js"></script>

    </body>

</html>