<div class="row text-center">
    {if $continue == true}
        <a href="{link this, 'page' => $paginator->page + 1}" class="btn btn-primary ajax">{_'more'} <span class="caret"></span></a>
    {/if}
</div>