{snippet formTools}
    {form formTools, class => array(ajax, form-inline, formTools)}
        {input id}
        {input tool, class => toolInput}
        {foreach $tools as $tool => $settings}
            {if $tool == 'sort' || $tool == 'delete'|| $tool == 'detache'}
                {if $tool == 'sort'}
                    <div class="form-group">
                        <a class="sort-btn btn btn-primary btn-sm"><span class="glyphicon glyphicon-move"></span></a>
                            {input sort, class => sortInput}
                    </div>
                {elseif $tool == 'delete'}
                    <div class="form-group">
                        {input delete, class => array(btn, btn-danger, btn-sm, confirmModal) }
                    </div>
                {elseif $tool == 'detache'}
                    <div class="form-group">
                        {input detache, class => array(btn, btn-danger, btn-sm, confirmModal) }
                    </div>
                {/if}               
            {else}
                <div class="form-group">
                    <a href="{plink $settings['link']['presenter'], $settings['link']['redirectMask'].'ID' => $id}" class="btn btn-primary btn-sm ajax" {if $settings['link']['type'] == 'modal'}data-toggle="modal" data-target="#{$settings['link']['modalID']}"{/if}>
                        <i class="{$settings['icon']}"></i>
                    </a>
                </div>
            {/if}
        {/foreach}
    {/form}
{/snippet}