{block #content}
<div class="error-code m-b-10">{$code} <i class="fa fa-warning"></i></div>
<div class="error-content">
    <div class="error-message">{$message}</div>
    
    <div class="m-t-20">
        <a n:href=":Front:Homepage:" class="btn btn-success">{_'back-to-homepage'}</a>
    </div>
</div>

{/block}