{form formSignIn}
    {foreach $form->errors as $error}
        <div class="alert alert-danger fade in m-b-15">
            {$error}
        </div>
    {/foreach}
    <div class="form-group" id="{$form['username']->getControl()->id}-parent">
        {label username /}
        {input username, class => form-control}
    </div>
    <div class="form-group" id="{$form['password']->getControl()->id}-parent">
        {label password /}
        {input password, class => form-control}
    </div>
    <div class="checkbox">
        {label remember}
            {input remember class=> remember}
        {/label}
    </div>
    {input send class => array(btn, btn-lg, btn-primary, btn-block)}
{/form}