<ul n:class="nav, $type" n:inner-foreach="$menu as $title => $item">
    <li n:class="$presenter->isLinkCurrent($item) ? active">
        <a {if !$presenter->isLinkCurrent($item)} href="{plink $item}" class="ajax"{/if}>{_$title}</a>
    </li>
</ul>