body.login {
    background-color: white;
    margin-top: 100px;
}

body {
    position: relative;
    z-index: 99999999;
}

.login #wrapper {
    padding-left: 0px;
}

.side-nav .nav-header {
    padding: 20px 15px;
    font-weight: bold;
    color: white;
}

.tracy-dump {
    position: relative;
    z-index: 9999999;
}

.gritter-success .gritter-top,
.gritter-success .gritter-title,
.gritter-success .gritter-item,
.gritter-success .gritter-bottom 
{
    background: #7cdda7 none !important;
    color: #3c763d !important;
}

.gritter-info .gritter-top,
.gritter-info .gritter-title,
.gritter-info .gritter-item,
.gritter-info .gritter-bottom 
{
    background: #d9edf7 none !important;
    color: #31708f !important;
}

.gritter-danger .gritter-top,
.gritter-danger .gritter-title,
.gritter-danger .gritter-item,
.gritter-danger .gritter-bottom 
{
    background: #f8b2b2 none !important;
    color: #a94442 !important;
}

.gritter-close {
    left: auto;
    right: 3px;
}

.gritter-title {
    text-shadow: none;
}

.sortable-placeholder {
    border: 3px #348fe2 solid !important;
    background-color: white !important;
}

.datepicker-days .table-condensed>thead>tr>th,
.datepicker-days .table-condensed>tbody>tr>th,
.datepicker-days .table-condensed>tbody>tr>td {
    padding: 5px 0px;
}

.bootstrap-datetimepicker-widget .datepicker {
    width: 240px !important;
    min-width: 240px !important;
}

label.required {
    font-weight: bold;
}