<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
<!--<![endif]-->
<head>
	<meta charset="utf-8" />
	<title>{_'error-appeared'}</title>
	<meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport" />
	<meta content="" name="description" />
	<meta content="Marko Rumpli, KapesniSvet.cz" name="author" />
	
	<!-- ================== BEGIN BASE CSS STYLE ================== -->
	<link href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet" />
        <link href="/backend/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
        <link href="/backend/plugins/font-awesome-4.2.0/css/font-awesome.min.css" rel="stylesheet" />
        <link href="/backend/css/style.css" rel="stylesheet" />
        <link href="/backend/css/super-fast.css" rel="stylesheet" />
        {* ================== END BASE CSS STYLE ================== *}
</head>
<body>
	<div id="page-container" class="fade in">
        <div class="error">
            {include content}
        </div>
</body>
</html>
