<ul class="nav navbar-nav side-nav">
    <li class="nav-header">{_'company-administration'}</li>
    {foreach $menu as $key => $item}
        {if !empty($item->data->bPresenter)}
            <li n:class="$item->active == true ? active">
                <a href="{plink $item->data->bPresenter}" class="ajax">
                    {if !empty($item->data->bIcon)}
                        <i class="{$item->data->bIcon}"></i>
                    {else}
                        <i class="fa fa-file-o"></i>
                    {/if}
                    {$item->data->title}
                </a>
            </li>
        {/if}
    {/foreach}
</ul>
